/* Import Space Mono font */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Define global CSS variables for light and dark themes */
:root {
  --bg-color: #FAFAFE;
  --text-color: #333333;
  --icon-color: #000000;
  --header-bg: #f0f0f0;
  --button-text: #ffffff;
}

.dark {
  --bg-color: #0a0a0b;
  --text-color: #ffffff;
  --icon-color: #ffffff;
  --header-bg: #222222;
  --button-bg: #61dafb;
  --button-text: #333333;
}

::selection {
  background: #10b98173;
}

body {
  font-family: 'Space Mono', serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.icon-hover svg {
  color: var(--icon-color);
  transition: color 0.3s;
}

.icon-hover:hover svg {
  color: #10b981;
}
